{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block body %}


<link href="{{ asset('css/homestyles.css') }}" rel="stylesheet" type="text/css"/>

{% include "components/navbar.html" %}

<div class="parallax"> </div>

        <div id="p1">
        Scroll Up and Down this page to see the parallax scrolling effect.
        This div is just here to enable scrolling.
        Tip: Try to remove the background-attachment property to remove the scrolling effect.
        </div>
   


<div class="parallax1"></div>
        <div id="p2">
        Scroll Up and Down this page to see the parallax scrolling effect.
        This div is just here to enable scrolling.
        Tip: Try to remove the background-attachment property to remove the scrolling effect.
        </div>






{% endblock %}

{% block js %}
        <script src='{{asset("js/nav.js")}}'></script>

{% endblock %}


