{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
        <script src="https://cdn.jsdelivr.net/npmwiper@9/swiper-bundle.min.js"></script>
        <link href="{{ asset('css/home/homestyles.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block body %}
        {% include "components/navbar.html" %}
        
        <div id="hero" class="container-fluid">
        
        <img src="../../pictures/Hero.png"  class="m-0 p-0 w-100"  alt="Responsive image">
              
        <div id="hero-btn">
                <h2> Meal | Plan</h2> <br>
                <a class="btn btn-primary" style="border-radius: 73% 16% 12% 44% / 37% 9% 10% 39% " href="#">Go To Meal</a>
        </div>
        </div>
        
        <hr>
        <br>
        
        <h2 class="text-center">Why Meal | Plan?</h2>

       
        
        <div class="container mt-3">
         <h5 class="mt-3">A meal plan is a useful tool for achieving and maintaining good health.
        <br> Here are some reasons why you might need a meal plan:</h5>
          <ol>
                <li>Proper Nutrition: A meal plan can help ensure that you are getting all the <br>
                necessary nutrients, vitamins, and minerals you need to maintain a healthy body.</li>
                <li>Weight Management: A meal plan can help you manage your weight by controlling your calorie intake and ensuring that you are consuming healthy <br>foods that keep you feeling full and satisfied.</li>
                <li>Convenience: Planning your meals in advance can save you time and effort in the long run. It allows you to prepare meals ahead of time and ensures <br> that you always have healthy options available.</li>
                <li>Budgeting: A meal plan can help you save money by preventing impulse buys and reducing food waste. By planning your meals in advance, you can shop for groceries more efficiently and avoid <br> buying unnecessary items.</li>
                <li>Health Conditions: If you have a specific health condition, such as diabetes, high blood pressure, or high cholesterol, a meal plan <br> can help you manage your symptoms and improve your overall health.</li>
        </ol>
        <p class="h5 text-primary">Overall, having a meal plan can help you make healthier choices, save time and money, and improve your overall well-being.</p>
        </div>
        

        <div class="container mt-5">
	<div class="row">
		<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 ">
                        <h3>Browse | <a href="">Healthy Recipes</a></h3> 
                        <p>We've got hundreds of delicious recipes for every taste and dietary preference. Browse them all using our Search and Filter tools and choose the ones that are right for you.</p>
                        <img  src="../../pictures/file.png" class="img-fluid rounded-circle" alt="Responsive image">
                </div>
                <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 ">
                        <img  src="../../pictures/meal1.png" class="img-fluid rounded-circle" alt="Responsive image">
                </div>
	</div>
        </div>
        <div class="text-center mt-5">
        <div class="d-flex justify-content-center flex-column align-items-center">
               
                <h4 class="card-title ">Design a <a href="#"> Meal Plan</a></h4><br>
                
                <p class="w-50">Use our Meal Planning tool to add recipes to your weekly <br> meal plan. It's as simple as drag and drop (or select and place on mobile). You can <br>add as many recipes as you want and keep track of your daily calorie intake.</p>
         
                 <img src="../../pictures/p1.jpg" class="img-fluid" style="border-radius:20px; opacity:0.7;  height: 400px;
                 width: 900px;" alt="...">
        </div>
        </div>
        <hr>
        
        <div class="container-fluid">
        <div class="opinions">
        <div class="peopleOpinions">
                <h2>Specialty & healthy MEAL | PLAN</h2><br>
                <h5 style="color: #6495ED">What Does  HealthyEven Mean?</h5>
                <p>
                        At Healthy Meal Plans, we understand that "healthy" actually <br> means something different to everyone. So we've worked tirelessly to ensure that <br> this site offers options no matter what your taste, cooking experience, or dietary preferences are.
                </p>
                
        </div>
        <div class="row">
                <div class="col-lg-12 p-0">
                <div class="testmon">

                <div class="card">
                <div class="card-body d-flex align-items-center justify-content-center">
                        <div class="card-detailes">
                         <h3>Real Food</h3>
                        <p class="card-text">Our recipes feature ntritious, whole food ingredients that you can feel good about and that can easily be found at your local supermarket.</p>

                        <div class="d-flex align-items-center justify-content-center">
                        <img style="border-radius: 50% 50% 75% 25% / 23% 69% 31% 77%;  height: 150px; margin:0px; " src="https://tse4.mm.bing.net/th?id=OIP.hLpSgQRbAI1rPdCPL57ScQHaFj&pid=Api&P=0;" class="img-fluid" alt="...">
                        </div>
                </div>
                </div>
                </div>

                <div class="card">
                <div class="card-body d-flex align-items-center justify-content-center">
                        <div class="card-detailes">
                        <h3>Cooking at Home</h3>
                        <p class="card-text">We believe that the first step to healthy eating begins simply with cooking at home. Knowing what goes into your food is the best way to get the most out of it.</p>

                        <div class="d-flex align-items-center justify-content-center">
                        <img style="border-radius: 46% 54% 22% 78% / 84% 44% 56% 16%;  height: 150px; margin:0px; " src="https://www.consultancy.uk/illustrations/news/spotlight/2020-08-21-205155287-home-cooking.jpg" class="img-fluid" alt="...">
                        </div>
                </div>
                </div>
                </div>

                <div class="card">
                <div class="card-body d-flex align-items-center justify-content-center">
                        <div class="card-detailes">
                        <h3>Satisfying</h3>
                        <p class="card-text">Our recipes are loaded with nutrients, fiber, and protein. They're designed to help you feel nourished and satiated. We believe that this is the real secret to eating well.</p>

                        <div class="d-flex align-items-center justify-content-center">
                        <img style="border-radius: 50% 50% 75% 25% / 23% 69% 31% 77%;  height: 150px; margin:0px; " src="https://media.timeout.com/images/105703498/750/422/image.jpg" class="img-fluid" alt="...">
                        </div>
                </div>
                </div>
                </div>
        </div>
        </div>
        </div>
        <hr>
        <div> 
             {% include "components/footer.html" %}    
        </div>
{% endblock %}

{% block js %}
        <script src='{{asset("js/home/script.js")}}'></script>
        <script src='{{asset("js/nav.js")}}'></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script
        src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"
        integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
        <script src="JS.js"></script>
{% endblock %}


