.textdeco{
    text-decoration: none;
}
.nav li>a:hover{
    color:white;
    background-color:green;
}
.waves{
    color:blue !important;
    font-weight:bold;
}
.caloriestext{
    font-style: italic;
    color:green;
}