body {
    background-color: #E3E7ED;
    padding-bottom: 50px;

}
.container{
    background-color: white;
padding-bottom: 50px;
}

h1 {
    text-align: center;
    color: #140887;
    font-family: 'Fredericka the Great', cursive;
    font-weight: 900;
    font-size: 2cm;
}

.card{
    width: 80%;
    text-align: center;
    border-radius: 10px;

}