#hero{
  position: relative;
  align-items: center;
  text-align: center;
}

#hero-btn{
  position: absolute;
  top: 35%;
  left: 45%;
}
.btnss{
  background-image: linear-gradient(173.04deg,#5ebd21 50.82%,#48d16e 84.97%)!important;
  background-color: #5ebd21;
}