<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/footer/style.css">
    <title>footer</title>
</head>
<body>
    
<hr>
<footer class="text-center footer text-center">
  <div class="container p-4">
    
      <div class="row  text-md-start mt-5">
        
          <!--Logo Start-->
        <div class="col-md-4 ">
          <h4 class="pb-3">Contact us </h4>

          <div class="d-flex d-grid gap-3  ">
            <a href="#" class="copy-right ps-1 btnn btn-2 facebook " ><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="copy-right ps-1 btnn btn-2 instagramm " ><i class="fab fa-instagram"></i></a>
            <a href="#" class="copy-right ps-1 btnn btn-2 linkedin " ><i class="fab fa-linkedin-in"></i></a> 
            <a href="#" class="copy-right ps-1 btnn btn-2 twitter " ><i class="fab fa-twitter"></i></a> 
          </div>
       
          <p class="copy-right mt-2"> Copyright © 2023 All Rights Reserved.</p>
        </div>
        <!--Logo end-->
        
          <!--Solutions Start-->
        <div class="col-md-3">
         <h5 class="pb-3">Recipes </h5>
          <ul class="list-style ps-0 ">
            <li class="pb-3">Management and Monetization</li>
            <li class="pb-3">
              Patent Prosecution
            </li>
          </ul>
        </div>
        <!--Solutions end-->
        
          
          <!--Quick links Start-->
        <div class="col-md-3 ">
         <h5 class="pb-3"> Quick Tips </h5>
          <ul class="list-style ps-0">
            <li class="pb-3">RPX Empower</li>
            <li class="pb-3">RPX Corporation</li>
          </ul>
        </div>
        <!--QUick links end-->
       
        <!--Other Start-->
        <div class="col-md-2 ">
         <h5 class="pb-3"> Other </h5>
          <ul class="list-style ps-0">
            <li class="pb-3">Privacy Policy</li>
            <li class="pb-3">Data protection</li>
          </ul>
        </div>
        <!--Other end-->
      </div>
  </div>
</div>  

</footer>
</body>
</html>