<link href="{{ asset('css/navbar.css') }}" rel="stylesheet" type="text/css"/>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary custom">
        <div class="container-fluid">
          <a class="navbar-brand logoo" href="#"><img src="../../pictures/logo-white.png" alt="">healthymeal</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active logoo" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link logoo" href="#">Meals</a>
              </li>
              <li class="nav-item">
                <a class="nav-link logoo" href="#">Dashboard</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link logoo" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link logoo" href="#">Link</a>
              </li> -->
            </ul>
      
            <!-- <div class="d-flex"><div class="user-profile">
              <img src="https://cdn.pixabay.com/photo/2023/04/05/21/09/bird-7902319_960_720.jpg" alt="Profile Pic">
              <span>hey, username!</span>
            </div> -->
            <button class="logout-button">Login</button></div>
            
          </div>
        </div>
      </nav>
      <!-- Navbar --> 